:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: dark light;

    /* Colors */
    /* Dark */
    --c_drk_txt: #ebe9fc;
    --c_drk_bg: #010104;
    --c_drk_bg_Highlight: #17173b;
    --c_drk_prim: #3a31d8;
    --c_drk_sec: #020024;
    --c_drk_acc: #0600c2;
    /* Light */
    --c_lght_text: #050316;
    --c_lght_bg: #fbfbfe;
    --c_lght_prim: #2f27ce;
    --c_lght_sec: #dddbff;
    --c_lght_acc: #443dff;

    /* Font weights */
    --fnt_thin: 300;
    --fnt_md: 500;
    --fnt_thick: 800;

    /* Font sizes */
    --txt_sm: 12px;
    --txt_btn: 18px;
    --txt_md: 20px;
    --txt_lg: 24px;
    --txt_xl: 32px;
    --txt_2xl: 50px;

    /* Border radius */
    --rnd_sm: 5px;
    --rnd_md: 10px;
    --rnd_lg: 20px;

    /* Shadows */
    /* Box */
    --shdw_boxSm: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --shdw_boxMd: 8px 8px 20px 2px black;
    /* Text */
    --txt_shdw_sm: var(--c_drk_bg) 3px 3px 15px;


    /* Transitions */
    --trs_shrt: all ease-in-out 150ms;
    --trs_med: all ease-in-out 300ms;
    --trs_lng: all ease-in-out 450ms;
}


body {
    background-color: var(--c_drk_bg);
    color: var(--c_drk_txt);
}
