:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --c_background: #1f1f1f;
  --c_primary: #00f19c; /* Main brand color */
  --c_primaryHighlight: #72eec3; /* Main brand color when highlighted */
  --c_darkAccent: #676C6E; /* Secondary - dark */
  --c_lightAccent: #749A97; /* Secondary - light */
  --c_darkShade: #1B1E27; /* Tertiary - dark */
  --c_lightShade: #F2EFF0; /* Tertiary - light */
  --c_lightText: #f8ffff;
  --c_darkText: #373a3a;

  /* Font weights */
  --fnt_thin: 300;
  --fnt_md: 500;
  --fnt_thick: 800;

  /* Font sizes */
  --txt_sm: 12px;
  --txt_md: 20px;
  --txt_lg: 24px;
  
  
  /* Border radius */
  --rnd_buttonSM: 5px;
  --rnd_buttonMD: 10px;
  --rnd_buttonLG: 20px;

  /* Box shadows */
  --shdw_boxSm: 0px 8px 16px 0px rgba(0,0,0,0.2);
  --shdw_boxMd: 8px 8px 20px 2px black;


  /* Transitions */
  --trs_short: all ease-in-out 150ms;
  --trs_md: all ease-in-out 300ms;
}


body {
  background-color: var(--c_background);
  color: var(--c_lightText);
}

.buttons-sbs {
  display: grid;
  grid-auto-flow: column;
  gap: 0px 20px;
}

.btn-main,
.btn-secondary {
  padding: 14px 16px;
  cursor: pointer;
  border-radius: var(--rnd_buttonMD);
  font-weight: var(--fnt_md);
  transition: var(--trs_md);
}

.btn-main:hover,
.btn-secondary:hover {
  box-shadow: var(--shdw_boxSm);
  transform: scale(1.05);
}
.btn-main:hover {
  background-color: var(--c_primaryHighlight);
}
.btn-secondary:hover {
  background-color: var(--c_darkAccent);
  border-color: var(--c_primaryHighlight);
}

.btn-main {
  background-color: var(--c_primary);
  color: var(--c_darkText);
}

.btn-secondary {
  border: 3px solid var(--c_primary);
  background-color: var(--c_background);
  color: var(--c_lightText);
}

.section-header {
  padding: 14px 8%;
  border-bottom: 2px solid var(--c_primary);
}