:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --c_background: #1f1f1f;
  --c_primary: #00f19c; /* Main brand color */
  --c_darkAccent: #676C6E; /* Secondary - dark */
  --c_lightAccent: #749A97; /* Secondary - light */
  --c_darkShade: #1B1E27; /* Tertiary - dark */
  --c_lightShade: #F2EFF0; /* Tertiary - light */
  --c_lightText: #f8ffff;
  --c_darkText: #373a3a;

  /* Font weights */
  --fnt_thin: 300;
  --fnt_md: 500;
  --fnt_thick: 800;

  /* Font sizes */
  --txt_sm: 12px;
  --txt_md: 20px;
  --txt_lg: 24px;
  
  
  /* Border radius */
  --rnd_buttonSM: 5px;
  --rnd_buttonMD: 10px;
  --rnd_buttonLG: 20px;

  /* Box shadows */
  --shdw_boxSm: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  border: none;
  background: none;
}

body {
  background-color: var(--c_background);
  color: var(--c_lightText);
}

.buttons-sbs {
  display: grid;
  grid-auto-flow: column;
  gap: 0px 20px;
}

.btn-main,
.btn-secondary {
  padding: 14px 16px;
  cursor: pointer;
  border-radius: var(--rnd_buttonMD);
  font-weight: var(--fnt_md);
  transition: all ease-in-out 300ms;
}

.btn-main:hover,
.btn-secondary:hover {
  box-shadow: var(--shdw_boxSm);
  transform: scale(1.05);
}

.btn-main {
  background-color: var(--c_primary);
  color: var(--c_darkText);
}

.btn-secondary {
  border: 3px solid var(--c_primary);
  color: var(--c_lightText);
}