.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    height: 100%;
}

.navbar-right {
    height: 100%;
}

.navbar-link {
    height: 100%;
    cursor: pointer;
}

.navbar-link:hover {
    background-color: rgb(220, 220, 220);
}