.hero {
    display: flex;
    position: relative;
    align-items: center;
    width: 80vw;
    margin: 5vh auto;
}

.content {
    position: absolute;
    display: flex; flex-direction: column;
    gap: 42px;
    width: 50%;
    font-size: var(--txt_lg);
    text-shadow: var(--txt_shdw_sm);
    z-index: 5;
}

.content div {
    display: flex;
    gap: 32px;
}

.content h2 {
    font-size: var(--txt_2xl);
    font-weight: var(--fnt_thick);
}

.media {
    padding-left: 35%;
    border-radius: var(--rnd_md);
    position: relative;
}


.media img,
.media video {
    border-radius: var(--rnd_lg);
    object-fit: cover;
    z-index: -5;
    height: 100%;
}

.media p {
    position: absolute;
    right: 2rem; bottom: 1rem;
}

.media .overlay::before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: block;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--c_drk_bg) 70%);
    z-index: 0;
}